In [59]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("C:\\Users\\USER\\Desktop\\유도연\\petoi\\코드정리\\페토이_기본_코드_정리\\Bittle.db")  
cur = conn.cursor()

profile_df = pd.read_sql_query("SELECT * FROM PROFILE", conn)

In [60]:
profile_df

   id name         note
0   1   도연
1   2   하현  로봇 테스트 / 친구
2   3   서연           /

In [61]:
dy_chat_df = pd.read_sql_query(
    "SELECT * FROM CHAT_HISTORY WHERE user_id = ?", 
    conn, 
    params=(1,)
)
hh_chat_df = pd.read_sql_query(
    "SELECT * FROM CHAT_HISTORY WHERE user_id = ?", 
    conn, 
    params=(2,)
)
sy_chat_df = pd.read_sql_query(
    "SELECT * FROM CHAT_HISTORY WHERE user_id = ?", 
    conn, 
    params=(3,)
)

In [62]:
dy_chat_df

,chat_id,user_id,session_id,role,content,timestamp
0,1,1,도연_2025-11-07,human,안녕,2025-11-07
1,2,1,도연_2025-11-07,Bittle,안녕! 나랑 이야기해줘서 반가워! 어떤 걸 도와줄까?,2025-11-07
2,3,1,도연_2025-11-07,human,테스트 1,2025-11-07
3,4,1,도연_2025-11-07,Bittle,무엇을 테스트하고 싶어? 더 자세히 말해줘!,2025-11-07
4,5,1,도연_2025-11-07,human,잘가,2025-11-07
5,6,1,도연_2025-11-07,Bittle,잘가! 다음에 또 이야기하자!,2025-11-07
6,7,1,도연_2025-11-07,human,안녕,2025-11-07
7,8,1,도연_2025-11-07,Bittle,안녕! 다시 만나서 반가워! 오늘은 어떤 이야기를 나눌까?,2025-11-07
8,9,1,도연_2025-11-07,human,테스트2,2025-11-07
9,10,1,도연_2025-11-07,Bittle,무엇을 테스트하고 싶은지 말해줘! 도움이 필요하면 언제든지 말해줘!,2025-11-07
10,11,1,도연_2025-11-07,human,잘가,2025-11-07
11,12,1,도연_2025-11-07,Bittle,잘가! 다음에 또 이야기해! 항상 기다리고 있을게!,2025-11-07

In [63]:
hh_chat_df

,chat_id,user_id,session_id,role,content,timestamp
0,19,2,하현_2025-11-07,human,안녕,2025-11-07
1,20,2,하현_2025-11-07,Bittle,안녕! 나와 이야기해줘서 정말 기뻐! 무슨 이야기를 하고 싶어?,2025-11-07
2,21,2,하현_2025-11-07,human,테스트,2025-11-07
3,22,2,하현_2025-11-07,Bittle,테스트 잘 하고 있어! 무엇을 테스트 중인지 궁금하네. 더 이야기해줄래?,2025-11-07

In [64]:
sy_chat_df

Empty DataFrame
Columns: [chat_id, user_id, session_id, role, content, timestamp]
Index: []

In [65]:
conn.close()