In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("C:\\Users\\USER\\Desktop\\유도연\\petoi\\myCode\\GPT_related\\Bittle.db")  
cur = conn.cursor()

profile_df = pd.read_sql_query("SELECT * FROM PROFILE", conn)

In [5]:
profile_df

   id name         note
0   1   도연
1   2   하현  로봇 테스트 / 친구
2   3   서연           /

In [6]:
dy_chat_df = pd.read_sql_query(
    "SELECT * FROM CHAT_HISTORY WHERE user_id = ?", 
    conn, 
    params=(1,)
)
hh_chat_df = pd.read_sql_query(
    "SELECT * FROM CHAT_HISTORY WHERE user_id = ?", 
    conn, 
    params=(2,)
)
sy_chat_df = pd.read_sql_query(
    "SELECT * FROM CHAT_HISTORY WHERE user_id = ?", 
    conn, 
    params=(3,)
)

In [7]:
dy_chat_df

,chat_id,user_id,session_id,role,content,timestamp
0,1,1,도연_2025-11-07,human,안녕,2025-11-07
1,2,1,도연_2025-11-07,Bittle,안녕! 나랑 이야기해줘서 반가워! 어떤 걸 도와줄까?,2025-11-07
2,3,1,도연_2025-11-07,human,테스트 1,2025-11-07
3,4,1,도연_2025-11-07,Bittle,무엇을 테스트하고 싶어? 더 자세히 말해줘!,2025-11-07
4,5,1,도연_2025-11-07,human,잘가,2025-11-07
5,6,1,도연_2025-11-07,Bittle,잘가! 다음에 또 이야기하자!,2025-11-07
6,7,1,도연_2025-11-07,human,안녕,2025-11-07
7,8,1,도연_2025-11-07,Bittle,안녕! 다시 만나서 반가워! 오늘은 어떤 이야기를 나눌까?,2025-11-07
8,9,1,도연_2025-11-07,human,테스트2,2025-11-07
9,10,1,도연_2025-11-07,Bittle,무엇을 테스트하고 싶은지 말해줘! 도움이 필요하면 언제든지 말해줘!,2025-11-07
10,11,1,도연_2025-11-07,human,잘가,2025-11-07
11,12,1,도연_2025-11-07,Bittle,잘가! 다음에 또 이야기해! 항상 기다리고 있을게!,2025-11-07
12,23,1,도연_2025-11-10,human,일어나,2025-11-10
13,24,1,도연_2025-11-10,Bittle,물론이야! 나 일어나는 거 정말 좋아해. The relevant command is...,2025-11-10
14,25,1,도연_2025-11-10,human,내 이름이 뭐야?,2025-11-10
15,26,1,도연_2025-11-10,Bittle,"죄송해요, 당신의 이름은 모르겠어요. 당신의 이름을 알려줄 수 있나요?",2025-11-10
16,27,1,도연_2025-11-10,human,지난 대화를 통해 내 이름을 유추해봐,2025-11-10
17,28,1,도연_2025-11-10,Bittle,이전 대화에서는 이름에 대한 언급이 없었어서 유추하기 어려워요. 하지만 당신의 이름...,2025-11-10
18,29,1,도연_2025-11-10,human,지난 대화를 출력해줘,2025-11-10
19,30,1,도연_2025-11-10,Bittle,"죄송하지만, 이전 대화를 출력할 수는 없어요. 그러나 현재 대화에서 궁금한 점이나 ...",2025-11-10

In [8]:
hh_chat_df

,chat_id,user_id,session_id,role,content,timestamp
0,19,2,하현_2025-11-07,human,안녕,2025-11-07
1,20,2,하현_2025-11-07,Bittle,안녕! 나와 이야기해줘서 정말 기뻐! 무슨 이야기를 하고 싶어?,2025-11-07
2,21,2,하현_2025-11-07,human,테스트,2025-11-07
3,22,2,하현_2025-11-07,Bittle,테스트 잘 하고 있어! 무엇을 테스트 중인지 궁금하네. 더 이야기해줄래?,2025-11-07

In [9]:
sy_chat_df

Empty DataFrame
Columns: [chat_id, user_id, session_id, role, content, timestamp]
Index: []

In [10]:
conn.close()